
<div class="container mt-3">
  <h3>Ask your coach anything:</h3>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
